h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas                      
                    +navTemaItem('1', 'Gestión de la Formación en Ambientes Virtuales de Aprendizaje - FAVA', 'main.html#page/gestion_formacion_ambientes/')
                    +navTemaItem('2', 'Entorno LMS', 'main.html#page/entorno_lms/')  
                    +navTemaItem('3', 'Herramientas de comunicación sincrónicas y asincrónicas', 'main.html#page/herramientas_comunicacion/') 
                    +navTemaItem('4', 'Implementación de herramientas en el LMS', 'main.html#page/implementacion_herramientas_lms/')  
                    