.container#tema_3

    .header-ecored
        h1 3. Herramientas de comunicación sincrónicas y asincrónicas

    .jumbotron.bg-white 
      .row
        .col-12
          p La característica más importante para fortalecer en la formación virtual es la interacción entre los participantes durante el proceso formativo. Esta comunicación se puede realizar a través de herramientas de comunicación integradas en el sistema de gestión de aprendizaje o a través de herramientas externas al mismo. Herramientas que se pueden clasificar en asincrónicas y sincrónicas.

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema3_1
            h2 3.1 Herramientas sincrónicas 
      .row
        .col-12
          p En los procesos formativos son necesarias herramientas que permitan a los instructores y aprendices interactuar en tiempo real y de forma simultánea, ya sea de forma escrita u oral, simulando un ambiente real presencial entre instructores y aprendices.
          p Dentro de este grupo de herramientas tenemos:
      
      .row.justify-content-center.align-items-center.mb-5
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p #[strong Chat:] es un sistema de comunicación escrito que permite interactuar en tiempo real a los usuarios y es la herramienta más utilizada dentro del LMS.
        .col-12.col-lg-10.d-flex.justify-content-center.my-4
          img(src="assets/images/pages/tema_3/img_3_1_01.jpg", alt="").img-fluid 

      .row.justify-content-center.align-items-center.mb-5
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p #[strong Videoconferencia:] es un sistema interactivo que permite mantener una conversación a distancia en tiempo real, mediante audio, video y datos; su rango de aplicación está a nivel empresarial y educativo. Los sistemas de videoconferencia más utilizados son Team, Meet, Doodle, Bigbluebutton y Zoom entre otros.
        .col-12.col-lg-10.d-flex.justify-content-center.my-4
          img(src="assets/images/pages/tema_3/img_3_1_02.jpg", alt="").img-fluid 

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema3_2
            h2 3.2 Herramientas asincrónicas

      .row.mb-5
        .col-12
          p No es necesario tener una conexión en tiempo real para lograr el desarrollo del proceso formativo, incluso para los procesos comunicativos de los diferentes actores en el proceso pedagógico. 
          p Estas herramientas presentan una gran ventaja a los usuarios, ya que les permite documentar y organizar de forma anticipada sus respuestas o los contenidos de sus participaciones. Dentro de estas herramientas tenemos:

      .row.mb-5
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='media/infografias_animadas/infografia_3_2_01/index.html', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

      .hr-divider.my-4

      .row.mb-5
        .col-12
          p A continuación, se muestra la creación y configuración de algunas herramientas asincrónicas en el LMS SENA. 

      .row.mb-5
        .col-12.mb-3
          h3 Crear Blog
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Orazf-CP9Sg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

      .hr-divider.my-4

      .row
        .col-12.mb-3
          h3 Crear Wiki
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/3Nl-cNjgrUg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')





