.container#tema_2

    .header-ecored
        h1 2. Entorno LMS

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema2_1
            h2 2.1 Concepto
  
      .row.mb-5
        .col-12
          p A continuación, encontrará las características de un LMS. Lo invito a profundizar sus conocimientos con el siguiente video. 

      .row.mb-5
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Ugga2uYEqsY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema2_2
            h2 2.2 Herramientas del LMS

      .row.mb-5
        .col-12
          P Los sistemas de administración de aprendizaje LMS incluyen diferentes herramientas y funcionalidades que permiten lograr los diferentes objetivos de las empresas o entidades educativas, siempre alineadas a las necesidades puntuales en el diseño, organización, administración y el desarrollo de los procesos formativos.

      .row.justify-content-center.align-items-center.mb-5  
        .col-12.col-lg-10.d-flex.justify-content-center
          img(src="assets/images/pages/tema_2/info_2_2_01.svg", alt="").img-fluid 