.container#tema_4

    .header-ecored
        h1 4. Implementación de herramientas en el LMS

    .jumbotron.bg-white 
      .row
        .col-12.mb-5
          p Es necesario que el instructor establezca la relación directa entre los lineamientos institucionales y las herramientas que puede utilizar para llevar a cabo sus funciones en la plataforma de administración del aprendizaje (LMS), permitiendo evidenciar el avance desde lo tecnológico y lo pedagógico.
          p Nuestro punto de partida es conocer el LMS SENA. El siguiente video realiza una contextualización.    

      .row.mb-5        
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/7rPIeP_u_SA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

      .row
        .col-12.mb-5
          p Lo invitamos a conocer las particularidades del LMS SENA desde los principales roles de un proceso formativo:  
        .col-12.mb-3
          h3 Rol instructor
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/3c_jm7mTmaE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .col-12
          p Video muestra, el enlace del recurso está roto, se reempalzará en el momento que compartan nuevamente el recurso
    

        .hr-divider.mt-4.mb-5

        .col-12.mb-4
          h3 Rol aprendiz
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/fdOeOE3-jdk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
    